@-webkit-keyframes kf_el_hy2gzQkQWK9_an_Rxs5DYb6q {
  14.29% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  17.14% {
    -webkit-transform: translate(366px, 181px) scale(1.5, 1.5)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1.5, 1.5) translate(-366px, -181px);
  }
  20% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  33.33% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  36.19% {
    -webkit-transform: translate(366px, 181px) scale(1.5, 1.5)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1.5, 1.5) translate(-366px, -181px);
  }
  39.05% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  52.38% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  55.24% {
    -webkit-transform: translate(366px, 181px) scale(1.5, 1.5)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1.5, 1.5) translate(-366px, -181px);
  }
  58.10% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  0% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  100% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
}
@keyframes kf_el_hy2gzQkQWK9_an_Rxs5DYb6q {
  14.29% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  17.14% {
    -webkit-transform: translate(366px, 181px) scale(1.5, 1.5)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1.5, 1.5) translate(-366px, -181px);
  }
  20% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  33.33% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  36.19% {
    -webkit-transform: translate(366px, 181px) scale(1.5, 1.5)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1.5, 1.5) translate(-366px, -181px);
  }
  39.05% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  52.38% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  55.24% {
    -webkit-transform: translate(366px, 181px) scale(1.5, 1.5)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1.5, 1.5) translate(-366px, -181px);
  }
  58.10% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  0% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
  100% {
    -webkit-transform: translate(366px, 181px) scale(1, 1)
      translate(-366px, -181px);
    transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  }
}
@-webkit-keyframes kf_el_hy2gzQkQWK9_an_UmkIOtxqd {
  0% {
    opacity: 0;
  }
  14.29% {
    opacity: 1;
  }
  58.10% {
    opacity: 1;
  }
  95.24% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kf_el_hy2gzQkQWK9_an_UmkIOtxqd {
  0% {
    opacity: 0;
  }
  14.29% {
    opacity: 1;
  }
  58.10% {
    opacity: 1;
  }
  95.24% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes kf_el_hy2gzQkQWK9_an_lLrht35F9 {
  0% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
  }
  14.29% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
  }
  58.10% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
  }
  95.24% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
  }
}
@keyframes kf_el_hy2gzQkQWK9_an_lLrht35F9 {
  0% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
  }
  14.29% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
  }
  58.10% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(-80px, -75px);
  }
  95.24% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
    transform: translate(366px, 181px) translate(-366px, -181px)
      translate(0px, 0px);
  }
}
@-webkit-keyframes kf_el_reC2GCnXw_Q_an_GyYNGS-uJ {
  14.29% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
  }
  33.33% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
  }
  52.38% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
  }
  95.24% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
}
@keyframes kf_el_reC2GCnXw_Q_an_GyYNGS-uJ {
  14.29% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
  }
  33.33% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
  }
  52.38% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px)
      translate(-15px, -65px);
  }
  95.24% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
    transform: translate(71.58125018926813px, 191.55000114440918px)
      translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  }
}
@-webkit-keyframes kf_el_x1bYnbHATG1_an_CY1cyYd0O {
  14.29% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
  }
  33.33% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
  }
  52.38% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
  }
  95.24% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
}
@keyframes kf_el_x1bYnbHATG1_an_CY1cyYd0O {
  14.29% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
  }
  33.33% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
  }
  52.38% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(-14px, -37px);
  }
  95.24% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
    transform: translate(138.93593787843673px, 164.16250038146973px)
      translate(-138.93593787843673px, -164.16250038146973px)
      translate(0px, 0px);
  }
}
@-webkit-keyframes kf_el_RJ85djgAQnb_an_UbIPTD9RU {
  14.29% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
  }
  33.33% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
  }
  52.38% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
  }
  95.24% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
}
@keyframes kf_el_RJ85djgAQnb_an_UbIPTD9RU {
  14.29% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
  }
  33.33% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
  }
  52.38% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(-15px, -40px);
  }
  95.24% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
    transform: translate(129.58125018926813px, 166.55000114440918px)
      translate(-129.58125018926813px, -166.55000114440918px)
      translate(0px, 0px);
  }
}
@-webkit-keyframes kf_el_iIPjxZj3ZSP_an_-xv1THlrH {
  14.29% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
  }
  33.33% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
  }
  52.38% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
  }
  95.24% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
}
@keyframes kf_el_iIPjxZj3ZSP_an_-xv1THlrH {
  14.29% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
  }
  33.33% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
  }
  52.38% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px)
      translate(-17px, -60px);
  }
  95.24% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
    transform: translate(84.77500056546333px, 186.4000015258789px)
      translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  }
}
@-webkit-keyframes kf_el_5wBVYgggR8_an_KiXEODd6t {
  14.29% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
  }
  33.33% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
  }
  52.38% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
  }
  95.24% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
}
@keyframes kf_el_5wBVYgggR8_an_KiXEODd6t {
  14.29% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
  }
  33.33% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
  }
  52.38% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px)
      translate(-15px, -50px);
  }
  95.24% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
    transform: translate(104.9970006942749px, 176.06042132526636px)
      translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  }
}
@-webkit-keyframes kf_el_tUc2SnQIGz_an_guL7f6Rgd {
  14.29% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
  }
  33.33% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
  }
  52.38% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
  }
  95.24% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
}
@keyframes kf_el_tUc2SnQIGz_an_guL7f6Rgd {
  14.29% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  19.05% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
  }
  33.33% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  38.10% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
  }
  52.38% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  57.14% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px)
      translate(15px, 62px);
  }
  95.24% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  0% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
    transform: translate(343.9970006942749px, 67.99377632141113px)
      translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  }
}
@-webkit-keyframes kf_el_rIiFHjULfg_an_SJd62ab0Q {
  14.29% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  19.05% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(25deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(25deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  33.33% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  38.10% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(25deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(25deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  52.38% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  57.14% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(25deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(25deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  95.24% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  0% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  100% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
}
@keyframes kf_el_rIiFHjULfg_an_SJd62ab0Q {
  14.29% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  19.05% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(25deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(25deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  33.33% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  38.10% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(25deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(25deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  52.38% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  57.14% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(25deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(25deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  95.24% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  0% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
  100% {
    -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
      rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
    transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
      translate(-214.4770278930664px, -137.7655792236328px);
  }
}
#el_L0y-gl7hx * {
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_t62sUgs-pp {
  stroke: none;
  stroke-width: 1;
  fill: none;
}
#el_9hKGq2nrkH {
  fill: #fbc43a;
  visibility: hidden;
}
#el_4XViYxuQ6l {
  fill: #000000;
}
#el_rIiFHjULfg {
  stroke: #000000;
  stroke-width: 6.00000024;
}
#el_tUc2SnQIGz {
  -webkit-transform: translate(332px, 44px);
  transform: translate(332px, 44px);
}
#el_Y2FgRASnIy {
  fill: #000000;
  stroke: #000000;
  stroke-width: 4.74615019;
}
#el_uww2meOVpR {
  -webkit-transform: translate(6.22386px, 7.282178px);
  transform: translate(6.22386px, 7.282178px);
}
#el_mhWXZH1VIW {
  fill: #ffffff;
}
#el_WojLW-7PKV {
  fill: #ffffff;
}
#el_cUlgCfdNXs {
  stroke: #ffffff;
  stroke-width: 1.75;
  -webkit-transform: translate(0px, 16.730984px) scale(1, -1);
  transform: translate(0px, 16.730984px) scale(1, -1);
}
#el_5wBVYgggR8 {
  -webkit-transform: translate(93.100001px, 151.900003px);
  transform: translate(93.100001px, 151.900003px);
}
#el_MjvyearboA {
  fill: #000000;
  stroke: #000000;
  stroke-width: 4.74615019;
}
#el_YWSPdr8eBw7 {
  -webkit-transform: translate(6.410543px, 7.8px);
  transform: translate(6.410543px, 7.8px);
}
#el_AdyMsXauIOb {
  fill: #ffffff;
}
#el_c66eYwsXRsA {
  fill: #ffffff;
}
#el_ZD3QQLwFZQ2 {
  stroke: #ffffff;
  stroke-width: 1.75;
}
#el_iIPjxZj3ZSP {
  -webkit-transform: translate(75.5px, 163.200003px);
  transform: translate(75.5px, 163.200003px);
  fill: #000000;
}
#el_RJ85djgAQnb {
  -webkit-transform: translate(122.600002px, 149.400003px);
  transform: translate(122.600002px, 149.400003px);
  fill: #000000;
}
#el_x1bYnbHATG1 {
  -webkit-transform: translate(134.300003px, 150.600003px);
  transform: translate(134.300003px, 150.600003px);
  fill: #000000;
}
#el_reC2GCnXw_Q {
  -webkit-transform: translate(65px, 173.500003px);
  transform: translate(65px, 173.500003px);
  fill: #000000;
}
#el_IVUKQ9p6PWV {
  stroke: #ffffff;
  stroke-width: 6;
  visibility: hidden;
}
#el_hy2gzQkQWK9 {
  fill: #ffffff;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  opacity: 0;
  -webkit-animation-name: kf_el_hy2gzQkQWK9_an_UmkIOtxqd;
  animation-name: kf_el_hy2gzQkQWK9_an_UmkIOtxqd;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}
#el_rIiFHjULfg_an_SJd62ab0Q {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(214.4770278930664px, 137.7655792236328px)
    rotate(0deg) translate(-214.4770278930664px, -137.7655792236328px);
  transform: translate(214.4770278930664px, 137.7655792236328px) rotate(0deg)
    translate(-214.4770278930664px, -137.7655792236328px);
  -webkit-animation-name: kf_el_rIiFHjULfg_an_SJd62ab0Q;
  animation-name: kf_el_rIiFHjULfg_an_SJd62ab0Q;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_tUc2SnQIGz_an_guL7f6Rgd {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(343.9970006942749px, 67.99377632141113px)
    translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  transform: translate(343.9970006942749px, 67.99377632141113px)
    translate(-343.9970006942749px, -67.99377632141113px) translate(0px, 0px);
  -webkit-animation-name: kf_el_tUc2SnQIGz_an_guL7f6Rgd;
  animation-name: kf_el_tUc2SnQIGz_an_guL7f6Rgd;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_5wBVYgggR8_an_KiXEODd6t {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(104.9970006942749px, 176.06042132526636px)
    translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  transform: translate(104.9970006942749px, 176.06042132526636px)
    translate(-104.9970006942749px, -176.06042132526636px) translate(0px, 0px);
  -webkit-animation-name: kf_el_5wBVYgggR8_an_KiXEODd6t;
  animation-name: kf_el_5wBVYgggR8_an_KiXEODd6t;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_iIPjxZj3ZSP_an_-xv1THlrH {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(84.77500056546333px, 186.4000015258789px)
    translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  transform: translate(84.77500056546333px, 186.4000015258789px)
    translate(-84.77500056546333px, -186.4000015258789px) translate(0px, 0px);
  -webkit-animation-name: kf_el_iIPjxZj3ZSP_an_-xv1THlrH;
  animation-name: kf_el_iIPjxZj3ZSP_an_-xv1THlrH;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_RJ85djgAQnb_an_UbIPTD9RU {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(129.58125018926813px, 166.55000114440918px)
    translate(-129.58125018926813px, -166.55000114440918px) translate(0px, 0px);
  transform: translate(129.58125018926813px, 166.55000114440918px)
    translate(-129.58125018926813px, -166.55000114440918px) translate(0px, 0px);
  -webkit-animation-name: kf_el_RJ85djgAQnb_an_UbIPTD9RU;
  animation-name: kf_el_RJ85djgAQnb_an_UbIPTD9RU;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_x1bYnbHATG1_an_CY1cyYd0O {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(138.93593787843673px, 164.16250038146973px)
    translate(-138.93593787843673px, -164.16250038146973px) translate(0px, 0px);
  transform: translate(138.93593787843673px, 164.16250038146973px)
    translate(-138.93593787843673px, -164.16250038146973px) translate(0px, 0px);
  -webkit-animation-name: kf_el_x1bYnbHATG1_an_CY1cyYd0O;
  animation-name: kf_el_x1bYnbHATG1_an_CY1cyYd0O;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_reC2GCnXw_Q_an_GyYNGS-uJ {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(71.58125018926813px, 191.55000114440918px)
    translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  transform: translate(71.58125018926813px, 191.55000114440918px)
    translate(-71.58125018926813px, -191.55000114440918px) translate(0px, 0px);
  -webkit-animation-name: kf_el_reC2GCnXw_Q_an_GyYNGS-uJ;
  animation-name: kf_el_reC2GCnXw_Q_an_GyYNGS-uJ;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_hy2gzQkQWK9_an_lLrht35F9 {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(366px, 181px) translate(-366px, -181px)
    translate(0px, 0px);
  transform: translate(366px, 181px) translate(-366px, -181px)
    translate(0px, 0px);
  -webkit-animation-name: kf_el_hy2gzQkQWK9_an_lLrht35F9;
  animation-name: kf_el_hy2gzQkQWK9_an_lLrht35F9;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}
#el_hy2gzQkQWK9_an_Rxs5DYb6q {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(366px, 181px) scale(1, 1)
    translate(-366px, -181px);
  transform: translate(366px, 181px) scale(1, 1) translate(-366px, -181px);
  -webkit-animation-name: kf_el_hy2gzQkQWK9_an_Rxs5DYb6q;
  animation-name: kf_el_hy2gzQkQWK9_an_Rxs5DYb6q;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
